<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:content="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!--开启注解模式-->
    <content:annotation-config/>
    <!--配置扫描包的位置-->
    <content:component-scan base-package="com.sm.my.shop.two.web.admin">
        <content:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </content:component-scan>

    <!-- 配置 Bean Validator 定义 -->
    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"/>
    <bean id="beanValidator" class="com.sm.my.shop.two.commons.validator.BeanValidator">
        <property name="validator" ref="validator" />
    </bean>
</beans>